.inspections-scroll-wrapper {
  overflow-x: auto;
}

table.inspections {
  tr {
    td:first-child {
      padding: 0.4rem 0.8rem 0.4rem 0.4rem;
      text-align: center;
      img {
        display: block;
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
